{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Register</title>
    {% endblock %}


    {% block first %}

    <div class='container'>
      <h2 style="text-align: center;">Login-Page</h2>

    <form method='post' class='jumbotron'>
        {% csrf_token %}
       
        <div class="form-group">
          <label >username</label>
          <input type="text" name='uname' class="form-control" id="un">
        </div>
        <div class="form-group">
            <label>password</label>
            <input type="password" name='password' class="form-control" id="pw">
          </div>
          {% if messages %}
                {% for msg in messages %}
                    {{msg}}
                {% endfor %}
            {% endif %}
        
        <button type="submit" class="btn btn-primary">Submit</button>

        <a href="{% url 'reset_password' %}">Forgot password</a>
      </form>
    </div>

    
    {% endblock %}